<div style="width: 100%; padding: 10px; display: flex; justify-content: center; align-items: center; border-top: 1px solid white;">
  <img style="width: auto; height: 1.5rem" src="assets/img/logotype-istea-fill-white.svg" alt="">
  <div style="margin-left: 20px">
    <div style="font-size: .6rem; line-height: .7rem; font-weight: lighter; color: white">Análisis de Sistemas</div>
    <div style="font-size: .7rem; line-height: .8rem; font-weight: lighter; color: white">Proyecto Final</div>
  </div>
</div>
