<div class="container">
  <h2>Editar producto</h2>
  <!--<form class="mt-4" [formGroup]="editarProducto" (submit)="editProducto()">-->
  <form class="mt-4" [formGroup]="editarProducto">
    <mat-form-field class="fullWidth" class="fullWidth">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="nombre">
    </mat-form-field>
    <mat-form-field class="fullWidth">
      <mat-label>Marca</mat-label>
      <input matInput placeholder="Marca" formControlName="marca">
    </mat-form-field>
    <mat-form-field class="fullWidth">
      <mat-label>Unidad de Medida</mat-label>
      <mat-select formControlName="unidadDeMedida">
        <mat-option>-- Seleccione --</mat-option>
        <mat-option *ngFor="let unidad of unidades" [value]="unidad.abreviatura">{{unidad.abreviatura}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="fullWidth">
      <mat-label>Detalle</mat-label>
      <input matInput placeholder="Detalle" formControlName="detalle">
    </mat-form-field>
    <mat-form-field class="fullWidth">
      <mat-label>Cantidad</mat-label>
      <input matInput placeholder="Cantidad" formControlName="cantidad">
    </mat-form-field>
    <mat-form-field class="fullWidth">
      <mat-label>Precio</mat-label>
      <input matInput placeholder="Precio" formControlName="precio">
    </mat-form-field>

    <!-- <div *ngIf="loadimagen == 'sin imagen'">
      <img class="imgListado"src="assets/img/sin-imagen.png" alt="sin imagen">
    </div>

    <div *ngIf="loadimagen != 'sin imagen'">
      <img class="imgListado" src="{{loadimagen.imagen}}" alt="sin imagen">
    </div> -->

    <input type="file" accept=".png, .jpg, .jpeg" (change)="onFileSelected($event)" id="inputFile">
    <label for="inputFile" class="labelInputFile">
      <img src="assets/img/upload.png" alt="upload file">
    </label>
    <div style="display: flex; justify-content: space-between; margin-top: 10px;">
      <div></div>
      <div style="display: flex; justify-content: space-between; width: 50%">
        <button class="dialogButton" mat-dialog-close mat-raised-button color="warn">Cancelar</button>
        <!--<button type="submit" [disabled]="editarProducto.invalid" class="dialogButton" [mat-dialog-close]="editarProducto.value" mat-raised-button color="accent">{{data.buttonLabel}}</button>-->
        <button mat-button [disabled]="editarProducto.invalid" (click)="editProducto()" mat-raised-button
          color="accent">Editar</button>

      </div>
    </div>

  </form>
</div>