@import "assets/scss/variables";
@font-face {
  font-family: 'PTSans';
  src: url('assets/fonts/PTSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: PTSans, "Helvetica Neue", sans-serif;
  background: rgb(4,37,58);
  background: $fondoDegrade2Colores
}


.contenedorGral {
  padding: 2%;
  width: 100%;
}
.footerLZ {
    position:fixed;
    bottom:0px;
    width:100%;
}

input[type="file"]{
  display: none;
}

.labelInputFile{
  width: 4rem;
  height: 4rem;
  background-color: lightblue;
  border-radius: 100%;
  padding: 1rem;
  box-shadow: 0 0 10px -1px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.labelInputFile img{
  width: 3rem;
  height: 3rem;
}

.labelInputFile:active{
  transform: scale(0.9);
}

.imgListado {
  max-width: 8rem;
  max-height: 8rem;
  width: 100%;
  height: 100%;
}

.mag-pag{
  margin-top: 5px;
}